<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>  
  </head>
  <body>
    <header>
      <h1>Welcome to my webpage!</h1>
    </header>
  
    <div class= container>
      <h1>Hello World</h1>
      <p> This this the test html for test app </p>
      <p> This is the new test paragraph without anything in it</p>
    </div>

    <%= link_to 'About', about_path %>

    <footer>
      <p>This is the footer</p>    
    </footer>
  </body>
</html>